variables {
    BASE_URL "http://localhost:3000"
    PASSWORD ""
    SLUG ""
    CONTENT "hello world"
}

queries {
    new POST "${BASE_URL}/${SLUG}" {
        body text="${CONTENT}"
    }
    new-pw POST "${BASE_URL}/${SLUG}?password=${PASSWORD}" {
        body text="${CONTENT}"
    }
    new-link POST "${BASE_URL}/${SLUG}" {
        headers {
            content-type "application/link"
        }
        body text="${CONTENT}"
    }
    get GET "${BASE_URL}/${SLUG}"
    get-pw GET "${BASE_URL}/${SLUG}?password=${PASSWORD}"
}
